@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {@Html.AntiForgeryToken()

        <a href="javascript:document.getElementById('logoutForm').submit()"  class="bizwheel-btn">Log off</a>


}
}
else
{

<a href="/Account/Login" class="bizwheel-btn">Login</a>
}
<!--    @Html.ActionLink("Login", "Login", "Acount")-->
