@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Leon Vieira created this project just for you!</h1> 
    <img src="~/Images/NetVirJou.jpg" />

</div>

<div class="row">
    <div class="col-md-4">

       

    </div>
    <div class="col-md-4" style="text-align: center">
        <h2>Scroll down some</h2>
        <br />
        <br />
        <br />
        <br />
        <br />

        <iframe autoplay="true" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
       
    </div>
</div>